

.hero_title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: url('../../source/backgroubd-activité.png');
    background-size: cover;
    background-position: 0%;
    h1{
        color: white;
        font-size: 80px;
    }
    .triangle{
        position: absolute;
        bottom: 0;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 20vh 100vw 0 0;
        border-color: #ffffff transparent transparent transparent;
        transform: scaleY(-1);
    }
}

.act{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        width: 70%;
        font-size: 40px;
        padding-bottom: 6vh;
    }
    p{
        width: 70%;
        font-size: 17px;
        padding-bottom: 2vh;
        text-align: justify;
    }
}

.hero_rendre{
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20vh 0 20vh 0;
    .sy_rendre{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35%;
        height: 90%;

        .title{
            height: 40%;
            h2{
                font-size: 40px;
            } 
            padding-bottom: 20px;
        }
        h3{
            padding-bottom: 5%;
            font-size: 24px;
        }
        .adresse{
            height: 50%;
            li{
                list-style: none;
            }
            padding-bottom: 40px;
        }
        
    }
    .carte{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 35%;
        img{
            height: 80%;
            width: 80%;
            border-radius: 50%;
        }
    }
}
.hero_ville{
    color: #ffffff;
    position: relative;
    height: max-content;
    background-color: #47BFAD;
    display: flex;
    flex-direction: column;
    align-items: center;
    .triangle{
        position: absolute;
        top: 0;
        right: 0;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 30vh 100vw 0 0;
        border-color: #ffffff transparent transparent transparent;
        // transform: scaleY(-1);
        transform: scaleX(-1);
    }
    .ville{
        width: 80%;
        padding-top: 36vh;
        padding-bottom: 4vh;
        .acti{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: max-content;
            background: rgba(255, 255, 255, 0.16);
            border-radius: 16px;
            padding: 3vh 0;
            .change{
                padding-left: 3vh;
                width: 45%;
                display: flex;
                align-items: center;
            }
            .act{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: max-content;
                h3{
                    padding-bottom: 10px;
                }
            }
        }
        .data{
            padding: 10vh 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: max-content;
            .calendar{
                background-color: rgba(235, 235, 235, 1);
                width: 35%;
                height: 50vh ;
                border-radius: 4px;
                .grid{
                    padding: 30px;
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    grid-template-rows: repeat(9, 1fr);
                    grid-column-gap: 4px;
                    grid-row-gap: 4px;
                    h5{
                        font-weight: 700;
                        font-size: 20px;
                        grid-column-start: 1;
                        grid-column-end: 4;
                        grid-row-start: 1;
                        grid-row-end: 2;
                        color: #47BFAD;
                    }
                    p{
                        color: black;
                        font-weight: 700;
                    }
                    #Mo{
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row: 3/4;
                    }
                    #Tu{
                        grid-column-start: 2;
                        grid-column-end: 3;
                        grid-row: 3/4;
                    }
                    #We{
                        grid-column-start: 3;
                        grid-column-end: 4;
                        grid-row: 3/4;
                    }
                    #Th{
                        grid-column-start: 4;
                        grid-column-end: 5;
                        grid-row: 3/4;
                    }
                    #Fr{
                        grid-column-start: 5;
                        grid-column-end: 6;
                        grid-row: 3/4;
                    }
                    #Sa{
                        grid-column-start: 6;
                        grid-column-end: 7;
                        grid-row: 3/4;
                    }
                    #Su{
                        grid-column-start: 7;
                        grid-column-end: 8;
                        grid-row: 3/4;
                    }
                    .chif{
                        display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    grid-template-rows: repeat(5, 1fr);
                    grid-column-gap: 4px;
                    grid-row-gap: 4px;
                        width: 100%;
                        grid-column-start: 1;
                        grid-column-end: 8;
                        grid-row-start: 4;
                        grid-row-end: 10;
                        .decor{
                            grid-column-start: 1;
                        grid-column-end: 4;
                        grid-row-start: 1;
                        grid-row-end: 2;
                            width: 100%;
                            height: 100%;
                        }
                        p{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            color: rgba(102, 102, 102, 1);
                            transition: 0.3s ;
                            border-radius: 50%;
                            &:hover{
                                color: #ffffff;
                                background-color: #E42353;
                            }
                        }
                    }
                    .grid-item {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                      }
                      .grid-item_center {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      }
                
                    svg{
                        font-weight: 700;
                        font-size: 12px;
                        grid-column-start: 6;
                        grid-column-end: 7;
                        grid-row-start: 1;
                        grid-row-end: 2;
                    }
                }
            }
            form{
                position: relative;
                display: flex;
                flex-direction: column;
                width: 60%;
                align-items: end;
                gap: 5% 0;
                input, textarea{
                    font-family: 'Nunito';
                    padding: 10px 15px;
                    margin: 0px 0;
                    background-color: rgba(235, 235, 235, 1);
                    border: 0;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: rgba(29, 29, 29, 0.72);
                    resize: none;
                    width: 100%;
                }
                textarea{
                    width: 100%;
                }
                input[type=submit]{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: #E42353;
                    width: 10vw;
                    color: #fff;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }
    h2{
        font-size: 40px;
        padding-bottom: 7vh;
    }
    p{
        font-size: 17px;
        font-weight: 500;
    }
    .bref{
        padding-top: 9vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        .icon{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
            width: 100%;
            .info{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }
}

//tablete normal 
@media (max-width: 768px) {

    .hero_title{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90vh;
        background: url('../../source/backgroubd-laMairie.png');
        background-size: cover;
        background-position: 0%;
        h1{
            color: white;
            font-size: 50px;
        }
        .triangle{
            position: absolute;
            bottom: 0;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 20vh 100vw 0 0;
            border-color: #ffffff transparent transparent transparent;
            transform: scaleY(-1);
        }
    }
    
    .hero_rendre{
        position: relative;
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10vh 5vh 0 5vh;
        .sy_rendre{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 80%;
            height: max-content;
    
            .title{
                height: 40%;
                padding-bottom: 5%;
                h2{
                    font-size: 40px;
                    
                } 
            }
            h3{
                padding-bottom: 2%;
                font-size: 24px;
            }
            .adresse{
                height: 50%;
                li{
                    list-style: none;
                }
                padding-bottom: 8%;
            }
            
        }
        .carte{
            display: none;
        }
    }
    .hero_ville{
        color: #ffffff;
        position: relative;
        height: max-content;
        background-color: #47BFAD;
        display: flex;
        flex-direction: column;
        align-items: center;
        .triangle{
            position: absolute;
            top: 0;
            left: 0;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 30vh 100vw 0 0;
            border-color: #ffffff transparent transparent transparent;
            transform: rotate(0deg);
        }
        .ville{
            width: 80%;
            padding-top: 36vh;
        }
        h2{
            font-size: 40px;
            padding-bottom: 7vh;
        }
        p{
            text-align: justify;
            font-size: 17px;
            font-weight: 500;
        }
        .bref{
            padding-top: 9vh;
            width: 80%;
            display: flex;
            flex-direction: column;
            .icon{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                .info{
                    padding: 40px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }
    }