$font-family: "nunito";

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    // padding: 15px 10px;

    header {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        height: 15vh;

        nav {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            z-index: 1;
            gap: 2em;
        }

        nav a {
            font-family: $font-family;
            display: block;
            font-weight: 400;
            font-size: 0.8em;
            padding: 0 15px;
            color: #656565;
            text-decoration: none;
            text-align: center;
            transition: all .3s ease-in-out;

            &:hover {
                color: #E42353;
            }
        }
        .button{
            display: flex;
            justify-content: end;
            width: 30%;
        }
        #contact{
            width: 60%;
            padding: 4px 14px;
            border-radius: 4px;
            color: white;
            background-color: #E42353;
        }


        .logo {
            svg {
                z-index: 5;
                width: 100%;
                height: auto;
            }
        }

        .log {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 20%;

            button {
                font-size: 17px;
                color: white;
                padding: 5px 10px;
            }

            #sing {
                background: none;
                border: solid 1px white;
            }

            #login {
                border: solid 1px #214228;
                background-color: #214228;
            }
        }
    }

    .texte {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-family: $font-family;
        font-weight: lighter;
        color: white;
        font-size: 28px;
        width: 80%;
        height: 60vh;

        .titres {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 35%;
            height: 80%;
            padding: 0 40px;
        }

        .titre {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            .titre_num {
                padding: 0 40px;
            }

            span {
                font-size: 0.9em;
            }

            p {
                font-size: 0.8em;
            }

            i {
                font-size: 2.2em;
                color: #9FFF7B;
            }
        }

        .a1 {
            justify-content: left;
        }

        .a2 {
            justify-content: center;
        }

        .a3 {

            justify-content: end;
        }

        h3 {
            font-size: 1.5em;
            font-weight: 400;
            width: 35%;
        }

        span {
            color: #9FFF7B;
        }
    }
}

#back {
    position: absolute;
    z-index: -2;
    filter: blur(5px);
    width: 100%;
    height: 100vh;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.color {
    position: absolute;
    z-index: -1;
    background-color: black;
    opacity: 70%;
    width: 100%;
    height: 101vh;

}

.nav-toggler {
    display: none;
}




//laptop normal 
@media (max-width: 1024px) {

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: max-content;

        header {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            width: 95%;
            height: 20vh;

            nav {
                position: relative;
                display: flex;
                justify-content: end;
                width: 70%;
            }

            nav a {
                font-size: 0.7em;
            }

            .logo {
                svg {
                    width: 180px;
                }
            }

            ul {

                li {
                    font-size: 0.8em;
                }
            }

            .log {

                button {
                    font-size: 12px;
                }
            }
        }

        .texte {

            .titres {
                display: none;
            }

            h3 {
                text-align: center;
                font-size: 1.5em;
                font-weight: 400;
                width: 100%;
            }
        }
    }
}

//tablete normal 
@media (max-width: 768px) {

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: max-content;

        header {
            width: 80%;

            nav {
                background-color: #214228;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                width: 100vw;
                transform: translateX(100%) translateY(40%);
                transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
            }

            nav.active {
                transform: translateX(-10%) translateY(40%);
            }

            nav a {
                color: black;
                font-size: 1.4em;
                padding: 50px 0px;
            }

            .logo {
                svg {
                    width: 200px;
                }
            }

            ul {

                li {
                    font-size: 0.8em;
                }
            }

            .log {

                button {
                    font-size: 12px;
                }
            }
        }

        .texte {

            .titres {
                display: none;
            }

            h3 {
                text-align: center;
                font-size: 1.5em;
                font-weight: 400;
                width: 100%;
            }
        }
    }

    .nav-toggler {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        top: 7vh;
        right: 7vh;
        height: 50px;
        width: 50px;
        border: none;
        outline: none;
        cursor: pointer;
        background: transparent;
    }

    .line {
        display: block;
        position: absolute;
        width: 5%;
        height: 2px;
        background: rgb(0, 0, 0);
        transition: transform 0.3s ease-out, opacity 0.1s ease-out;
    }

    .l1 {
        transform: translateY(-10px);
    }

    .l3 {
        transform: translateY(10px);
    }

    .nav-toggler.active .l1 {
        transform: translateY(0px) rotate(135deg);
    }

    .nav-toggler.active .l2 {
        opacity: 0;
    }

    .nav-toggler.active .l3 {
        transform: translateY(0px) rotate(-135deg);
    }

}